@mixin r($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $breakpoint-wide-handhelds-min + 1px) {
        @content;
    }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: $breakpoint-wide-handhelds-min) and (max-width: $breakpoint-wide-handhelds-max) {
        @content;
    }
  }
  @else if $media == wide-handhelds-down {
    @media only screen and (max-width: $breakpoint-wide-handhelds-max) {
        @content;
    }
  }
  @else if $media == wide-handhelds-up {
    @media only screen and (min-width: $breakpoint-wide-handhelds-min) {
        @content;
    }
  }
  @else if $media == tablets {
    @media only screen and (min-width: $breakpoint-tablets-min) and (max-width: $breakpoint-tablets-max) {
        @content;
    }
  }
  @else if $media == tablets-down {
    @media only screen and (max-width: $breakpoint-tablets-max) {
        @content;
    }
  }
  @else if $media == tablets-up {
    @media only screen and (min-width: $breakpoint-tablets-min) {
        @content;
    }
  }
  @else if $media == desktops {
    @media only screen and (min-width: $breakpoint-desktops-min) {
        @content;
    }
  }
}
