@import 'mixins';
@import 'settings';

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: $c-default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
}

li {
  display: block;
  margin-bottom: 0.236rem;
  text-transform: lowercase;

  a {
    display: inline-block;
  }

  &:hover {
    .copy {
      display: inline-block;
    }
  }
}

a {
  color: $c-primary;
  text-decoration: none;
}

a:hover {
  color: $c-default;
}

.app {
  margin: 1rem;

  @include r(desktops) {
    max-width: 80%;
    margin: 4rem auto;
  }
}

.app__name {
  font-weight: normal;
  font-size: 2.418rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;

  span {
    font-weight: bold;
    font-size: 2.618rem;
  }
}

.app__search-form {
  margin-bottom: 1.5rem;

  input {
    appearance: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: 0;
    padding: 1rem;
    border: 1px solid $c-light;
    font-size: 1rem;
    color: $c-default;

    &:focus {
      border-color: $c-default;
      outline: 0;
    }

    &::placeholder {
      color: $c-light;
    }
  }
}

.app__content {
  margin: 1rem 0;

  @include r(desktops) {
    margin: 4rem 0;
  }
}

.copy {
  display: none;
  margin-left: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  color: $c-secondary;
}
